.navbar {
  mask-image: url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 100 100" xml:space="preserve"><style type="text/css">.blur{filter:url(%23softedge);}</style><filter id="softedge"><feGaussianBlur stdDeviation="3.5"></feGaussianBlur></filter><g class="blur"><rect x="0" y="-10" width="100" height="90"/></g></svg>'); 
	mask-size: cover; 
  background-color: rgba(0, 0, 0, 0.33);
  backdrop-filter: blur(5px);
  font-family: Guttman Hatzvi;
  /*padding-bottom: 110% of navbar's height;*/
  padding-bottom: 18px;
  /*padding-bottom: 100% of navbar's height;*/
  margin-bottom: -100px;
}

.navbar .ml-auto {
  margin-right: auto!important;
  margin-left: 0!important;
}

.navbar a {
  /* color: #343a40; */
  color: rgba(233, 241, 239, 1);
  text-decoration: none!important;
  margin: 2px 9px 2px 9px;
}

section, footer {
  background-color: rgba(233, 241, 239, 1);
  /* backdrop-filter: blur(20px); */
}

section .jumbotron {
  background-color: transparent;
}

footer {
  padding:40px 0;
  /* background-color:#E9F1EF; */
  color:#4b4c4d;
}
  
footer ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

footer li {
  padding:0 10px;
}

footer ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

footer ul a:hover {
  opacity:1;
}

footer .social {
  text-align:center;
  padding-bottom:25px;
}

footer .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

footer .social > a:hover {
  opacity:0.9;
}

footer .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}