.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: calc(10px + 4vmin);
  pointer-events: none;
}

section {
  margin: 0;
  padding: 5px 20px 5px 20px;
}

#aboutSection, #contactSection {
  color: white;
}

.main-container {
  min-width: 100%;
  padding: 0;
}

.jumbotron {
  margin: 0;
}

.pagination .page-link {
  color: #1B3547;
}

.page-item.active .page-link {
  background-color: #1B3547;
  border-color: #1B3547;
}