.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: calc(10px + 4vmin);
  pointer-events: none;
}

section {
  background-color: rgba(233, 241, 239, 1);
  padding: 5px 20px 5px 20px;
  margin: 0;
}

section, .react-parallax {
  scroll-snap-align: start;
}

.main-container {
  min-width: 100%;
  padding: 0;
}

.jumbotron {
  margin: 0;
}

.pagination .page-link {
  color: #1B3547;
}

.page-item.active .page-link {
  background-color: #1B3547;
  border-color: #1B3547;
}

.break-things {
  background-color: #f3f3f3;
}

/* -------- Home Page --------- */
/*article {
  scroll-padding-top: 50px;
}*/

#aboutSection, #contactSection {
  color: #dedede;
}