html {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Gisha', 'Guttman Hatzvi', 'Guttman Kav-Light',
  'Guttman-CourMir', 'Lucida Sans Unicode', 'Rod', 'Segoe UI Light', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: right;

  background-color: #1B3547;

  direction: ltr;
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
  /* scroll-padding-top: 50px; */
}

body * {
  direction: rtl;
}

body::-webkit-scrollbar {
  display: none;
}

blockquote, q {
  font-size: large;
  font-family: 'Rod';
}